.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    min-height: 80vh;
}

.contactForm {
    padding:10px;
    max-width: 700px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.input {
    min-width: 360px;
    max-width: 755px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.input label {
    background-color: #5C5ABC;
    width: 30%;
    text-align: end;
    padding: 10px 15px;
    color:white;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 5px 5px #888;
}

.input input {
    width:70%;
    background-color: #f3f3f3;
    box-shadow: 0 5px 5px #888;
    border:none;
    border-radius: 0 35px 35px 0;
    padding: 0 15px;
}

.input input:focus {
    outline:none;
}

.contactSubmit {
    margin-top: 20px;
    min-width: 120px;
    background-color: #F1A640;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding:10px 35px;
    border-radius: 20px;
    
}

.contactSubmit:hover {
    opacity: 0.7;
}


@media screen and (max-width: 600px) {
    .input {
        padding-right: 4%;
    }
}