.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    min-height: 100px;
    background-color: rgba(92, 90, 188, 1);
    color: rgba(252, 250, 250, 0.87);
    font-size: 1.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dFlex {
    display: flex;
    flex-direction: row;
    width: 23.9375rem;
    margin: 0;
}

.input-icon {
    color: #191919;
    width: 3.25rem;
    height: 2.25rem;
    margin-left: -4rem;
    padding-top: 2%;
}

.logoEasy {
    margin: 0 0 0 15px;
}

.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarLog {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin: 0 35px;
}

.form-control{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    padding: 0 0 0 20px;
    font-size: 1.5rem;
    border: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        justify-content: space-between;
        width: 100vw;
        height: 12vh;
        min-height: 80px;
        font-size: 1.4rem;
    }
    
    .dFlex {
        width: 50vw;
        margin: 0 0px 0 0;
    }
    
    .input-icon {
        width: 3.25rem;
        height: 2.25rem;
        min-width: 3.25rem;
        min-height: 2.25rem;
        padding-top: 4%;
    }
    
    .logoEasy {
        display: none;
        margin: 0 0 0 15px;
        width: 100px;
    }

    .navbar-right-container{
        justify-content: space-between;
        width: 100vw;
        margin: 0;
    }
    
    .navbarLog {
        font-size: 1rem;
        margin: 0 0 0 25px;
        width: 150px;
    }
    
    .form-control{
        width: 45vw;
        height: 3rem;
        border-radius: 10px;
        padding: 0 0 0 20px;
        font-size: 1rem;
    }
}