.containerHome{
    display: grid;
    text-decoration: none;
}

.containerCards{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}

.linkCardHome{
    text-decoration: none;
}

@media screen and (max-width: 600px) {    
    
    .containerCards {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding-left: 13%;
    }
    

}



 
    

