.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.form-input{  
    position: relative;
    z-index: 1;
    margin: 60px;
}


.label-up{
    display: inline-block;
    width: 400px;
    padding: 10px;
    color: #5C5ABC;
    background-color: #F3F3F3;
    border: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: 0;
    text-indent: 33%;
    transition: all .3s ease-in-out;
    z-index: 2;
    
}

.label-up:invalid{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) ;
    border: none;
}

