.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: rgba(92, 90, 188, 1);
    color: rgba(252, 250, 250, 0.87);
    font-size: 1.400rem;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.dFlex {
    display: flex;
    flex-direction: row;
    padding-right: 2%;
}

.input-icon {
    color: #191919;
    width: 3.25rem;
    height: 2.25rem;
    
}

.logoEasy {
    /* margin-right: 60.5rem; */
    padding-left: 2%;
}

.navbarLog {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;


}

.form-control{
    background: none;
    border: none;
    

}

.userInterface {
    display: flex;
}

.searchContainer{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-color: #191919;
    background-color: white;

}

