.publishContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    min-height: 80vh;
    padding: 30px 0px;
}

.publishForm {
    padding:10px;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.input {
    min-width: 360px;
    max-width: 755px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.input label {
    background-color: #5C5ABC;
    width: 20%;
    text-align: end;
    padding: 10px 15px;
    color:white;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 5px 5px #888;
}

.input input {
    width:80%;
    background-color: #f3f3f3;
    box-shadow: 0 5px 5px #888;
    border:none;
    border-radius: 0 35px 35px 0;
    padding: 0 15px;
}

.input input:focus {
    outline:none;
}

.location {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
}
.surfaceInput::-webkit-outer-spin-button,
.surfaceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputColumn {
    min-width: 360px;
    max-width: 755px;
    width: 30%;
    display:flex;
    justify-content: space-between;
    
}

.inputColumn label {
    background-color: #5C5ABC;
    width: 30%;
    text-align: end;
    padding: 10px 15px;
    color:white;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 5px 5px #888;
}

.inputColumn input {
    width:70%;
    background-color: #f3f3f3;
    box-shadow: 0 5px 5px #888;
    border:none;
    border-radius: 0 35px 35px 0;
    padding: 0 15px;
}

.generalChars {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 90vw;
    justify-content: center;
    gap: 34px;
}

.checkboxInput {
    width: 80vw;
    max-width: 715px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    gap:25px;
    background-color: #5C5ABC;
    color:white;
    padding: 10px 20px;
}

.charInput {
    min-width: 360px;
    max-width: 755px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.charInput label {
    background-color: #5C5ABC;
    width: 20%;
    text-align: end;
    padding: 10px 15px;
    color:white;
    border-radius: 10px 0 0 10px;
    border: none;
    box-shadow: 0 5px 5px #888;
}

.charInput input {
    width:80%;
    background-color: #f3f3f3;
    box-shadow: 0 5px 5px #888;
    border:none;
    padding: 0 15px;
}

.charInput input:focus {
    outline:none;
}

.addCharBtn {
    min-width: 120px;
    background-color: #F1A640;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding:10px 35px;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    box-shadow: 0 5px 5px #888;
}

.addPhotoBtn {
    min-width: 120px;
    background-color: #F1A640;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding:10px 35px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 5px 5px #888;
}
.addPhotoBtn:hover {
    opacity: 0.7;
}
.contactSubmit {
    margin-top: 20px;
    min-width: 120px;
    background-color: #F1A640;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding:10px 35px;
    border-radius: 20px;
    
}

.contactSubmit:hover {
    opacity: 0.7;
}