.containerCards{
    text-decoration: none;
}

.textCard {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}


@media screen and (max-width: 600px) {

    .textCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: -20%;
    }

    .css-ny6982-MuiPaper-root-MuiCard-root {
        margin-bottom: 10%;
        
    }

    .css-r40f8v-MuiTypography-root {
        font-size: 0.675rem !important;
        text-decoration: none;
    }

    .css-46bh2p-MuiCardContent-root {
        margin-top: -10%;
    }

    .css-h93ljk-MuiTypography-root {
        margin-bottom: 0.1em !important;
    }

    .css-1vw6mcs-MuiTypography-root {
        margin-bottom: 0.1em !important;
    }

}